<% content_for :search_metas do %>
  <!-- General meta info + SEO -->
  <title><%= "edit #{@product.name} | #{Setting.first.try :site_name}" %></title>
  <meta name="description" content="<%= @product.description %>" />
<% end %>
<!-- original system -->
<% content_for :meta_title, "edit #{@product.name}" %>

<%= render 'tab_admin_menu' %>

<%= render 'form' %>

<%= render 'shared/admin_sidebar' %>
