<% content_for :search_metas do %>
  <!-- General meta info + SEO -->
  <title>list of products</title>
  <meta name="description" content="Administration of store products" />
<% end %>
<!-- original system -->
<% content_for :meta_title, 'list of products' %>

<%= render 'tab_admin_menu' %>

<table class='table table-striped'>
	<thead>
  	<tr>
	    <th>image</th>
	    <th>name</th>
	    <th>published?</th>
	    <th><%= t('actions') %></th>
	  </tr>
	</thead>

	<tbody>
		<% @products.each do |product| %>
  	<tr>
  		<td><%= image_tag product.image.thumbnail.url %></td>
	    <td><%= link_to product.name, product %></td>
	    <td>
		    <% if product.published? %>
		      <span class="glyphicon glyphicon-ok"></span>&nbsp;<%= link_to "unpublish", unpublish_product_path(product), class: 'btn btn-xs btn-default', method: :post %>
		    <% else %>
		      <span class="glyphicon glyphicon-remove"></span>&nbsp;<%= link_to "publish", publish_product_path(product), class: 'btn btn-xs btn-default', method: :post %>
		    <% end %>
	    </td>
	    <td>
	    	<%= link_to "<span class='glyphicon glyphicon-pencil'></span> edit".html_safe, edit_product_path(product), class: 'btn btn-xs btn-default', title: t('edit') %><%= link_to "<span class='glyphicon glyphicon-trash'></span> delete".html_safe, product, method: :delete, data: { confirm: t('are_you_sure') }, class: 'btn btn-xs btn-danger', title: t('delete') %>
	    </td>
	  </tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'new product', new_product_path, class: 'btn btn-primary' %>

<%= render 'shared/admin_sidebar' %>
