<%= render 'metas', product: @product %>

<div id="product-banner-image"><%= image_tag @product.image.xxl.url %></div>
<%= content_tag :h1, @product.name, id: "product-name" %>

<!-- <p><%#= image_tag @product.image.large.url %></p> -->

<h3 id="product-description"><%= t 'products.description' %></h3>
<%= content_tag :p, @product.description %>

<h3 id="product-ingredients"><%= t 'products.ingredients' %></h3>
<%= content_tag :p, @product.ingredients %>

<!-- developing multiple product slideshows -->
<div id="product-photo-thumbnails">
  <% @product.illustrations.each do |pic| %>
    <% unless pic.image.blank? %>
      <%= link_to image_tag(pic.image.thumbnail.url), pic.image.xl.url, data: { lightbox: 'product-images' } %>
    <% end %>
  <% end %>
</div>

<!-- only for soapy site -->
<p id='link-to-products'><%= link_to 'Seifen und mehr...', root_path, class: 'btn btn-primary' %></p>

<% if administrator? %>
  <h3 id="admin-sections">For Admins Only</h3>
  <%= link_to "<span class='glyphicon glyphicon-pencil'></span> edit".html_safe, edit_product_path(@product), class: 'btn btn-default', title: t('edit') %><%= link_to "<span class='glyphicon glyphicon-list'></span> list".html_safe, products_path, class: 'btn btn-default' %>
<% end %>
