<%= render 'metas', product: @product %>

<ul class="nav nav-tabs" id="category-menu-tabs">
  <% Category.all.each do |category| %>
    <% unless category.products.published.count == 0 %>
      <%= content_tag :li, link_to(category.name, root_path(cat: category.id)), ({ class: 'active' } if category.id == @product.category_id ) %>
    <% end %>
  <% end %>
</ul>

<div id="product-banner-image"><%= image_tag @product.image.xxl.url %></div>
<%= content_tag :h1, @product.name, id: "product-name" %>

<% unless @product.ingredients.blank? %>
  <h3 id="product-ingredients"><%= t 'products.ingredients' %></h3>
  <%= content_tag :p, @product.ingredients %>
<% end %>

<!-- developing multiple product slideshows -->
<div id="product-photo-thumbnails">
  <% @product.illustrations.each do |pic| %>
    <% unless pic.image.blank? %>
      <%= link_to image_tag(pic.image.thumbnail.url), pic.image.xl.url, data: { lightbox: 'product-images' } %>
    <% end %>
  <% end %>
</div>

<% if administrator? %>
  <h3 id="admin-sections">For Admins Only</h3>
  <%= link_to "<span class='glyphicon glyphicon-pencil'></span> edit".html_safe, edit_product_path(@product), class: 'btn btn-default', title: t('edit') %><%= link_to "<span class='glyphicon glyphicon-list'></span> list".html_safe, products_path, class: 'btn btn-default' %>
<% end %>
